<ion-content  color="light" >
<ion-header >
  <ion-toolbar color="danger">
    <ion-title color="light"> 
     Dev DX
    </ion-title>
  </ion-toolbar>
</ion-header>
<div id="container">
<ion-grid>
   <ion-row>
     <ion-col style="background: blue;">
         <img src="./assets/images/a.jpg" alt="">
     </ion-col>
     <ion-col style="background:red ;">
          <img src="./assets/images/b.jpg" alt="">
     </ion-col>
     <ion-col style="background:green ;">
      <img src="./assets/images/c.jpg" alt="">
     </ion-col>
   </ion-row>
</ion-grid>

</div>
</ion-content>

